@import "colors";

.weather__city-input{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  background: #161E2E;
  color: $white;
  border:$white;
  padding: 0 10px;
  &::placeholder{
    color: $white;
    border:#1F8EFA;
  }
 &:focus{
 }
}
