@import "colors";
@import "button";
@import "input";


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: auto;
  padding: 0 15px;
}

body {
  font-size: 16px;
  color: $white;
  background: #1D283E;
}


@import "weather";
