
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 325px;
  margin: 0 auto;
  padding: 15px;
  width: 305px;
}

body {
  background: #242E42;
  color: #ffffff;
  font-size: 16px;
}

@import "weather";
